@import '_variable.scss';

// body {}

@media screen and (min-width: 769px) {
  .c-onlySp {
    display: none !important;
  }
}

@media #{$sp} {
  .c-onlyPc {
    display: none !important;
  }
}

.c {
  // &-main {}

  // header css
  &-header {
    // background: #ddd;
    margin: 0 3.5rem 0;

    &_wrap {
      @include inner($mW: 137rem, $w: 100%);
      position: absolute;
      z-index: 99;
      padding-top: 11px;
    }

    &_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_logo {
      width: 48px;
    }

    &_menu {
      display: flex;
    }

    &_link {
      padding: 0 2.55rem 0;
      font-size: 16px;
    }
  }

  &-footer {
    background: #ddd;

    &_wrap {
      @include inner;
    }
  }

  &-link {
    a {
      display: block;
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      color: #fff;
      background-color: $colorOrange;

      &:hover {
        color: #fff;
        background: #f56500;
      }
    }
  }

  &-button {
    width: 16.8rem;
    padding: 0.65rem 0 0.55rem;
    display: inline-block;
    background: $colorBlack;
    color: $colorWhite !important;
    text-align: center;
    font-family: 'Hind', sans-serif;
    border-radius: 10rem;


    // &_link {}
  }
}